body {
    background-color:#f4f4f4;
    color:#555555;
    font: normal 18px Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    margin:0;
}

h1 {
    color: #555;
    margin: 5%;
    padding:0;
    font-size: 40px;
}

nav {
    background-color: #333;
    overflow: auto;
    margin: 0;
    padding:0;
    position: sticky;
    top: 0;
}

nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 20px;
}

nav a:hover {
    background-color: #ccc;
    color: black;
}

nav a.active {
    background-color:#285fb7;
    color:white;
}
